# Object files
*.o
*.ko
*.o.*
*.uvgui.*
tools
*.bat
*.__i
*.dbgdt
*.tra
*.iex
*.sim
*.launch
*.sct
*.pbd
*.zip
*.browse
*.tmp
DebugConfig
*.ewt
*.db
.settings
tools
docs
Debug
*.__ia
*.dni
*.wsdt
*.pbi
*.bin
*.cout
*.crf
*.d
*.htm
*.map
*.axf
*.lnp
*.scvd
*.uvoptx
*.xcl
*.pbi.xcl
*.ini
*.Scr
*.lst
*.uvgui*
output
Doc
settings
Debug
SI
Release
lib_html
d4d
net_5000

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Project files
*.plg
*.Yandld
*.dep
*.bak

# Visual Studio Code
*.vscode